@import './config';

body {
  font-family: 'Chakra Petch', sans-serif;
  box-sizing: border-box;
  line-height: 1.4;
  font-size: 1rem;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

main {
  width: 90%;
  max-width: 37.5rem;
  margin: 3rem auto;
  text-align: center;
  background: $light-secondary-color;
  color: $secondary-color;
  padding: 2rem 3rem;
  border-radius: 0.5rem;
  border: 1px solid darken($light-secondary-color, 5);
}

button {
  padding: 0.5rem 1rem;
  outline-width: 0px;
  border: unset;
  cursor: pointer;
}

.thoughs {
  padding: 1rem 0;
  font-size: 1.3rem;
  font-weight: 300;
}
